.am-daymoney{
    width: 100%;
    display: block;    
}
.am-daymoney table{
    font-size: 12px;
    _display: inline;
    border-spacing: 0 7px;
    border-collapse: collapse;
    width: 100%;    
}
.am-daymoney caption{
    font-size: 1.9rem;
    color: #fff;
    background: #3bb4f2;     
}
.am-daymoney tbody td{
    cursor:pointer
}
.am-daymoney tbody td:hover{
    background: #eee !important;
}
.am-daymoney thead tr{   
    height: 25px;  
    color: #0c80ba;
}
.am-daymoney tbody tr{
    height: 55px;  
}
.am-daymoney-prev{
    cursor:pointer
}
.am-daymoney-next{
    cursor:pointer
}
.am-daymoney-month-head{
    color: #000;
}
.daymoney-month-body{
    color: #F60;
}
.am-primary .am-daymoney-month-head{
    color:#0c80ba; 
}